<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.okode.secureshare"
>
  <permission android:name="com.okode.permission.SECURE_SHARE" android:protectionLevel="signature" />
  <uses-permission android:name="com.okode.permission.SECURE_SHARE"/>
  <application>
    <provider
      android:authorities="${applicationId}.providers.secureshare"
      android:name="com.okode.secureshare.SecureShare"
      android:exported="true"
      android:permission="com.okode.permission.SECURE_SHARE">
    </provider>
  </application>
</manifest>
